# Qdrant vector store
QDRANT_HOST=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=llmops

# AWS Bedrock
MODEL_ID=anthropic.claude-3-haiku-20240307-v1:0
AWS_REGION=ap-south-1

# Langfuse observability
LANGFUSE_SECRET_KEY=sk-lf-your-secret-key
LANGFUSE_PUBLIC_KEY=pk-lf-your-public-key
LANGFUSE_BASE_URL=https://langfuse-chatbots.aivar.app
LANGFUSE_DEBUG=False
ENABLE_LANGFUSE=true
